body {
  color: #333333;
}
body a {
  color: #000099;
}
body a:visited {
  color: #cc0099;
}
#appWrap {
  padding: 1em;
}
header#appHeader h1 {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 1em;
}
header#appHeader #mainMenu {
  display: inline-block;
}
header#appHeader #mainMenu li.selected {
  font-weight: bold;
}
header#appHeader #mainMenu li.selected a {
  color: #333333;
}
.category-menu li {
  margin: 1em .5em;
}
.category-menu li a:link {
  padding: 7px;
  text-decoration: underline;
}
.category-menu li a:link:hover {
  padding: 6px;
  border: 1px solid #333333;
}
.menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu-list li {
  display: inline-block;
  margin-right: 1em;
}
.menu-list li:last-child {
  margin-right: 0;
}
.menu-list li a {
  text-decoration: none;
}
.menu-list li a.selected {
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}
#categoryProductList img {
  display: block;
}
footer#footer {
  margin-top: 2em;
  border-top: 1px solid #cccccc;
  padding-top: 1em;
  color: #666666;
}
table {
  color: #333333;
  border-collapse: collapse;
  border: 1px solid #333333;
}
table thead th,
table tbody td {
  padding: 1em;
}
table thead th {
  background-color: #333333;
  color: #fff;
}
table tbody tr:nth-child(odd) {
  background-color: #eee;
}
.reset-margins {
  margin: 0;
  padding: 0;
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.inline-list-item {
  display: inline-block;
  margin-right: 1em;
}
.inline-list-item:last-child {
  margin-right: 0;
}
.scaffold {
  border: 1px solid red;
}
